/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------Typo---------------*/

h1, h2, h3, h4, h5, h6, p, li, a, label, button {
    font-family: 'Noto Sans JP', sans-serif;
}


/*-------------Nav-------------*/
.sitemap>.nav-pills{
    border: 1px solid #E23E30;
}

.sitemap a:link{
    color: #E23E30;
}
.sitemap a:visited{
    color: #E23E30;
    background-color: white;
}
.sitemap a:hover{
    background-color: #E23E30;
    color: whitesmoke;
}

/*-----Header----*/

.nav{
    padding:  5px 0;
    background-color: #E23E30;
}

.nav ul li{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-family: 'Noto Sans JP', sans-serif;
}


.nav a:visited{
    /* color: #E23E30; */
    color: whitesmoke!important;
}

.header{
    background-color: #4DAE47;
    padding: 30px 0;
}
.enter{
    display: flex;
}
.enter img{
    border: 1px solid whitesmoke;
    padding: 5px 5px;
}
.content-enter{
    width: 100%;
    text-align: center;
    align-self: center;
}
.content-enter h1{
    font-size: 2.5rem;
    padding-bottom: 15px;
}
.content-enter p{
    font-size: 1.2rem;
}

/*--------------Modal--------------*/

.nav-link a:visited{
    color: white !important;
}

/*-----------Section1--------------*/

.section1{
    background-image: url('../img/design-desk-drawing-2172.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    box-shadow: inset 1px 2px 9px 1px black;
    width: 100%;
    padding: 50px;
    
}

/*--------------Comments----------*/

.comment-card{
    background-color: rgb(250, 245, 240);
    
}
.link-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}
.add-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}









